section.contact 
    .container
        .contact__wrapper 
            .contact__content 
                h2.contact__title CONTACT US
                .contact__inner
                    form.contact__form(action="#")
                        h3.contact__form-title Leave us a message
                        input.contact__form-input(type="text", placeholder="Name", required)
                        input.contact__form-input(type="text", placeholder="Email Address", required)
                        textarea.contact__form-textarea(placeholder="Your Message", required)
                        button.contact__form-btn(type="submit") Send
                    .contact__info 
                        .contact__info-wrapper 
                            address.contact__info-address
                                | Weekend UX
                                br
                                | B 37/3 Ground Floor Double 
                                br
                                | StoryRamesh Nagar , Near Raja Garden + 
                            a.contact__info-phone(href="tel:+919599272754") +91 9599272754   
                            br
                            a.contact__info-email(href="mailto:hello@info.com.ng") hello@info.com.ng
                            ul.contact__info-social-list 
                                li.contact__info-social-item
                                    +icon("contact_social-youtube")(width="23", height="16") 
                                li.contact__info-social-item 
                                    +icon("contact_social-instagram")(width="16", height="16") 
                                li.contact__info-social-item 
                                    +icon("contact_social-facebook")(width="20", height="16")
                                li.contact__info-social-item 
                                    +icon("contact_social-twitter")(width="23", height="16") 
                        .map#map
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193596.1336857452!2d-74.2918176426542!3d40.69732811083898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1713792316186!5m2!1sru!2sua"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")






