section.blogs 
    .container 
        .blogs__wrapper 
            h2.blogs__title Our recent blogs
            .blogs__content 
                .blogs__items-left
                    .blogs__item
                        .blogs__item-img 
                            +pictureWebp("./img/blogs/blogs-img1@1x.png", "./img/blogs/blogs-img1@2x.png")

                        .blogs__item-content    
                            .blogs__item-date November 16, 2014    
                            h3.blogs__item-title Three Pillars of User Delight
                            p.blogs__item-text Delight can be experienced viscerally, behaviourally, and reflectively. A great design is A great design is
                            .blogs__item-tags 
                                .blogs__item-teg.crimson Research
                                .blogs__item-teg.blue UI UX
                    .blogs__item 
                        .blogs__item-img 
                            +pictureWebp("./img/blogs/blogs-img2@1x.png", "./img/blogs/blogs-img2@2x.png")
                        .blogs__item-content      
                            .blogs__item-date September 24, 2017    
                            h3.blogs__item-title UX Mapping Methods
                            p.blogs__item-text Visual-design principles can be applied consistently throughout the process of creating a polished UX map
                            .blogs__item-tags 
                                .blogs__item-teg.crimson Research
                                .blogs__item-teg.blue UI Design   
                .blogs__item-big 
                    .blogs__item-img-big 
                        +pictureWebp("./img/blogs/blogs-img3@1x.png", "./img/blogs/blogs-img3@2x.png")
                    .blogs__item-content      
                        .blogs__item-date March 13, 2014 
                        h3.blogs__item-title Agile Development Projects and Usability
                        p.blogs__item-text-big Agile methods aim to overcome usability barriers in traditional development, but post new threats to user experience quality. 
                        .blogs__item-tags 
                            .blogs__item-teg.orang Programming
                            .blogs__item-teg.violet Research
                            .blogs__item-teg.crimson Developments                            