section.reviews 
  .container 
    h2.reviews__title.visually-hidden  Reviews 
      ul.reviews__slider.slider-reviews 
        li.reviews__slide 
          img.reviews__logo.logo(src="./img/logo.png", alt="logo", width="64", height="64")
          p.reviews__content Courses was fantastic! It is Master platform for those looking to start a new career, or need a refresher.
          +picture("./img/reviews/Avatar@1x.png", "./img/reviews/Avatar@2x.png").reviews__avatar 
          p.reviews__name Jacob Jones
          p.reviews__position Student, National University
        li.reviews__slide 
          img.reviews__logo.logo(src="./img/logo.png", alt="logo", width="64", height="64")
          p.reviews__content Courses was fantastic! It is Master platform for those looking to start a new career, or need a refresher.
          +picture("./img/reviews/Avatar@1x.png", "./img/reviews/Avatar@2x.png").reviews__avatar 
          p.reviews__name Jacob Jones
          p.reviews__position Student, National University
        li.reviews__slide 
          img.reviews__logo.logo(src="./img/logo.png", alt="logo", width="64", height="64")
          p.reviews__content Courses was fantastic! It is Master platform for those looking to start a new career, or need a refresher.
          +picture("./img/reviews/Avatar@1x.png", "./img/reviews/Avatar@2x.png").reviews__avatar 
          p.reviews__name Jacob Jones
          p.reviews__position Student, National University

