section.about-top
    .container 
        .about-top__wrapper 
            .about-top__content 
                h1.about-top__title About Us
                h2.about-top__subtitle 
                    span WEEKEND UX 
                    |providing the best opportunities to the students around the glob.
                p.about-top__description Weekend UX, is a UI/UX Design 
                    |Academy in Delhi involved in User Experience and User 
                    |Interface Training and Consulting. It was started in 2023 
                    |and passionate towards User Interface Design/ User Experience Design, 
                    |Human Computer Interaction Design. Humanoid is gushing towards 
                    |competence to acquire knowledge and have a wide understanding towards 
                    |the sphere through the foremost courses in the area of UI/UX Design, 
                    |by strengthening up your skills, for your golden future
                button.about-top__btn(aria-label="Join") 
                    |Join Us
                    span &#10132; 
            .about-top__img 
                +pictureWebp("./img/about-top/about-top-top@1x.png", "./img/about-top/about-top-top@2x.png").about-top__img-top 
                +pictureWebp("./img/about-top/about-top-bottom@1x.png", "./img/about-top/about-top-bottom@2x.png").about-top__img-bottom


