section.benefits
    .container
        .benefits__wrapper
            .benefits__content
                h2.benefits__title Our Benefits
                h3.benefits__description By Joining WEEKENS UX Platform, One Can Avail a Lot Of Benefits.
                p.benefits__text Install our top-rated dropshipping app to your e-commerce site and 
                    |get access to US Suppliers, AliExpress vendors, and the best.
            ul.benefits__cards
                li.benefits__card 
                    h2.benefits__card-title Standardization
                    //- .benefits__card-content-container
                    p.benefits__card-content
                        span When working in a global workplace, 
                            |it’s often difficult to gauge learners’ training experiences,
                            |which are 
                        button.benefits__card-btn Read More
                li.benefits__card
                    h2.benefits__card-title Reduced Costs
                    p.benefits__card-content
                        |With Weekend UX, there’s no cost to reproduce materials and, 
                        |thanks to mobile learning and microlearning
                        button.benefits__card-btn Read More
                li.benefits__card
                    h2.benefits__card-title More Customization
                    p.benefits__card-content
                        |ust like learners aren’t one-size-fits-all, 
                        |learning is not a one-size-fits-all experience. 
                        |By using different
                        button.benefits__card-btn Read More
                li.benefits__card
                    h2.benefits__card-title Affordable Pricing
                    p.benefits__card-content
                        |With Weekend UX, there’s no cost to reproduce materials and, 
                        |thanks to mobile learning and microlearning
                        button.benefits__card-btn Read More
                li.benefits__card
                    h2.benefits__card-title Learner Satisfaction
                    p.benefits__card-content
                        |If you really want students to retain what they learn, 
                        |you’ll need to aim for high satisfaction rates. Bad 
                        button.benefits__card-btn Read More
                li.benefits__card
                    h2.benefits__card-title Multimedia Materials
                    p.benefits__card-content
                        |One of the main reasons why custom eLearning is
                        | effective is that it’s the perfect delivery method for
                        button.benefits__card-btn Read More

               
     
          
