section.features
    .container 
        .features__wrapper 
            .features__img-wrapper
                +pictureWebp("./img/about-top/lamps@1x.png", "./img/about-top/lamps@2x.png").features__img
            .features__content 
                h1.features__title Features
                h2.features__description We are always working to provide you 
                    |best of the features in all aspects.
                p At WEEKENDUX the chief determination is to clear the minds of our students about their goals, 
                    |while making them consistent in their ambitions 
                    |and pushing them to be confident for their journey towards the course of time.
                p You will find every little thing on the internet in just a click of hand, 
                    |but here we admire that without knowledge and practice the internet 
                    |may even also fail you in your life.
                button.features__btn(aria-label="More") 
                    |Learn More
                    span &#10132; 
    


