@import "../../variables";
@import "../../mixins/font-face";

.benefits {

    &__wrapper {}

    &__content {
        text-align: center;
        // max-width: 575px;
    }

    &__title {
        font-size: $fs-24;
        @include interBold;
        margin-bottom: 20px;
        line-height: 1;
        color: #22B286;
    }

    &__description {
        @include interSemiBold;
        max-width: 804px;
        font-size: $fs-48;
        color: #1e1e1e;
        line-height: 1.2;
        margin: 0 auto 20px;
    }

    p {
        max-width: 572px;
        margin: 0 auto 20px;
    }


    &__cards {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 376px);
        row-gap: 20px;
        column-gap: 16px;
        counter-reset: test;
    }

    &__card {
        max-width: 376px;
        min-height: 236px;
        padding: 20px;
        padding-top: 80px;
        position: relative;
        border-radius: 10px;


        &::before {
            color: $green-dark;
            position: absolute;
            counter-increment: test;
            content: counter(test, decimal-leading-zero);
            font-size: $fs-32;
            line-height: normal;
            color: #22b286;
            background-size: 100%;
            width: 47px;
            height: 47px;
            top: 20px;
            left: 20px;

            &:nth-child(2n) {
                background-image: url("../img/header/header-case.svg");
            }

        }

    }

    &__card:nth-child(odd) {
        background-color: #F7FDF9;
        &::before {
            // background-image: url("../img/header/header-case.svg");
            background-image: url("../img/about-top/ellipse-left.svg");

        }
    }

    &__card:nth-child(even) {
        border: 1px solid #F2F2F2;
        &::before {
            background-image: url("../img/about-top/ellipse-right.svg");
        }
    }

    &__card-title {
        @include interMedium;
        font-size: $fs-24;
        @include interMedium;
        margin-bottom: 20px;

    }

    // &__card-content-container {
    //     display: flex;
    //     flex-direction: column;
    //     max-height: 5em;
    //     overflow: hidden;
    // }

    &__card-content {
        // flex-grow: 1;
        display: block;
  display: -webkit-box;
  max-width: 400px;
  font-size: 20px;
  -webkit-line-clamp: 4; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
        span{
            // // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // overflow: hidden;
            // text-overflow: ellipsis;
        }


    }

    &__card-btn {
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // overflow: hidden;
        display: inline-block;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;
    }

}



 @media (max-width: 900px){
    .benefits{
        &__cards {
            
            grid-template-columns: repeat(auto-fill, 280px);
        }
      
    }
 }

 @media (max-width: 620px){
    .benefits{
        .benefits{
            &__cards {
                justify-content: center;
                // grid-template-columns: repeat(2, 30%);
            }
          
        }
        &__description {
            max-width: 500px;
            font-size: 2rem;
        }
        p{
            max-width: 490px;
        }
    }
 }

 @media (max-width: 480px){
    .benefits{
        .benefits{
            &__description {
                max-width: 351px;
                font-size: 1.5rem;
            }
        }
    }
 }


// @media (max-width: 1100px) {

//     // .features {
//     //     &__wrapper {
//     //         grid-template-columns: 1fr;
//     //         row-gap: 40px;
//     //     }

//     //     &__img-wrapper {
//     //         width: 100%;
//     //         justify-self: center;
//     //     }

//     //     &__content {
//     //         justify-self: center;
//     //         order: -1;
//     //         max-width: 575px;
//     //     }
//     // }

// }

// @media (max-width: 768px) {

//     // .features__description {
//     //     font-size: $fs-26;
//     // }

// }