extends ../layouts/default

block content
  main.main 
    .about-main
      include ../sections/parts_main_about/about-top.pug
      include ../sections/parts_main_about/features.pug
      include ../sections/parts_main_about/benefits.pug