extends ../layouts/default

block header
  .gradient
  include ../parts/header.pug

block content 
  main.main 
    include ../sections/parts_main_contact/contact.pug
  .rectangle 
    img(src="./img/content/contact_buttom-decor1.png", alt="")
    img(src="./img/content/contact_buttom-decor2.svg", alt="")