extends ../layouts/default

block content
  main.main 
    include ../parts_main_index/top-main.pug
    include ../parts_main_index/our_services.pug
    include ../parts_main_index/programs.pug
    include ../parts_main_index/tutors.pug
    include ../parts_main_index/reviews.pug
    include ../parts_main_index/blogs.pug

