@import "../../variables";
@import "../../mixins/font-face";
@import "../../mixins/slick-slider-pagination";


.reviews {
    padding: 96px 0;
    background-color: $fonReviews ;

    &__slide {
        color: $black;
        line-height: 1.55;
        text-align: center;
    }

    &__logo {
        margin: 0 auto 32px;
    }



    &__content {
        margin-bottom: 32px;
        // color: $black;
        font-size: 46px;
        line-height: 1.25;
        @include interMedium;

    }


    &__avatar {
        margin: 0 auto 16px;
    }

    &__name {
        margin-bottom: 4px;
        font-size: $fs-18;
        @include interMedium;
        // line-height: 1.55;
        // color: $black;
    }

    &__position {
        color: $grey;
    }

    @include slick-slider-pagination(30px, 0);
}


@media (max-width: 680px) {
    .reviews{
            padding: 35px 0;
                &__content {
                    font-size: 25px;
                }
    
    }
}