// базовые подключения

@import "_vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "vendor";

// подключения компонентов страницы
@import "./components/**/*.scss";
@import "../pug/components/**/*.scss";


// тестовые стили, удалите их
body {
  // min-height: 100vh;
  // overflow: hidden;
  font-family: "interRegular", sans-serif;
  ;
}

html,
body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  margin-bottom: auto;
}

h1 {
  line-height: 3rem;
}

// .burger {
//   @include burger;
// }

// .menu--active {
//   translate: -10%;
// }



.title {
  font-family: "interBold", sans-serif;
}

$size: (
  sm: 320,
  lm: 720,
  pl: 1210
);





















// interLight"
// interRegular"
// interMedium"
// interSemiBold"
// interBold"
// @debug map.get($size, 'sm');
// $size: map.set($size, 'll', 1400);
// @debug $size

// .display {
//   font-size: 0.8rem;
// }

// @media (min-resolution: 0.5dppx) {
//   @include pixel(block, none, none, none, none, none, none, none, none, none);
// }

// @media (min-resolution: 0.8dppx) {
//   @include pixel(none, block, none, none, none, none, none, none, none, none);
// }

// @media (min-resolution: 1dppx) {
//   @include pixel(none, none, block, none, none, none, none, none, none, none);
// }

// @media (min-resolution: 1.5dppx) {
//   @include pixel(none, none, none, block, none, none, none, none, none, none);
// }

// @media (min-resolution: 2dppx) {
//   @include pixel(none, none, none, none, block, none, none, none, none, none);
// }

// @media (min-resolution: 2.5dppx) {
//   @include pixel(none, none, none, none, none, block, none, none, none, none);
// }

// @media (min-resolution: 3dppx) {
//   @include pixel(none, none, none, none, none, none, block, none, none, none);
// }

// @media (min-resolution: 3.5dppx) {
//   @include pixel(none, none, none, none, none, none, none, block, none, none);
// }

// @media (min-resolution: 4dppx) {
//   @include pixel(none, none, none, none, none, none, none, none, block, none);
// }

// @media (min-resolution: 4.5dppx) {
//   @include pixel(none, none, none, none, none, none, none, none, none, block);
// }