section.top-main 
    .container 
        .top-main__wrapper
            +icon("create_account")(width="24", height="24")
            +icon("create_account")(width="24", height="24")
            +icon("create_account")(width="24", height="24")
            +icon("create_account")(width="24", height="24")
            .top__main-about
                .top__main-about-img
                    +pictureWebp("/img/picture@1x.jpg", "/img/picture-tablet@1x.jpg", "/img/picture-desktop@1x.jpg")
                +icon("create_account")(width="24", height="24")
                .top__main-circle
                .top__main-card-video
                    p
                        span 2K+
                        Video Courses
                .top__main-card-online
                    p
                        span 5K+
                        Online Courses
                .top__main-card-tutors
                    p
                        Tutors
                        span 250+
            .top__main-content 
                h1.top__main-title 
                    | up your 
                    span skills
                    | to 
                    span advance your 
                    span career 
                    | path
                p.top__main-text 
                .top__main-buttons
                    button.top__main-btn 
                    button.top__main-btn 
                ul.top__main-communication-wrapper     
                    li.top__main-communication-speaker Public Speaking
                    li.top__main-communication-oriented Career-Oriented
                    li.top__main-communication-creative Creative Thinking
                .top__main-partner 
                    .top__main-partner-number 
                        p.top__main-partner-text 
                            span 250+
                            Collaboration
                    ul.top__main-partner-socials 
                        li.top__main-partner-social
                        li.top__main-partner-social
                        li.top__main-partner-social
                        li.top__main-partner-social