section.top-main 
    .container 
        .top-main__wrapper
            +icon("header-circles1")(width="414", height="414")
            +icon("header-circles2")(width="414", height="414")
            +icon("header-EllipseGreen")(width="285", height="476")
            +icon("header-EllipseOrang")(width="300", height="490")
            .top__main-about
                .top__main-about-img
                    +pictureWebp("/img/header/girl@1x.png", "/img/header/girl@2x.png")
                +icon("create_account")(width="24", height="24")
                .top__main-circle
                .top__main-card-video
                    p
                        span 2K+
                        Video Courses
                .top__main-card-online
                    p
                        span 5K+
                        Online Courses
                .top__main-card-tutors
                    p
                        Tutors
                        span 250+
            .top__main-content 
                h1.top__main-title 
                    | up your 
                    span skills
                    | to 
                    span advance your 
                    span career 
                    | path
                p.top__main-text 
                .top__main-buttons
                    button.top__main-btn 
                    button.top__main-btn 
                ul.top__main-communication-wrapper     
                    li.top__main-communication-speaker Public Speaking
                    li.top__main-communication-oriented Career-Oriented
                    li.top__main-communication-creative Creative Thinking
                .top__main-partner 
                    .top__main-partner-number 
                        p.top__main-partner-text 
                            span 250+
                            Collaboration
                    ul.top__main-partner-socials 
                        li.top__main-partner-social
                            +icon("header-duolingo")(width="154", height="39")
                        li.top__main-partner-social
                            +icon("header-codevecov")(width="187", height="36")
                        li.top__main-partner-social
                            +icon("header-UserTesting")(width="141", height="36")
                        li.top__main-partner-social
                            +icon("header-magicleap")(width="235", height="36")